canvas {
    margin-top: 10%;
    background-image: url("https://i.pinimg.com/564x/97/b4/fa/97b4fa98efe66bb7cd315ef28667c04f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    height: 600px;
    width: 1200px;
    border: 10px solid #BFC2C9;
}

#modal {
    position: absolute;
    top: 25vh;
    left: 29vw;
    width: 45vw;
    height: 40vh;
    background-color: white;
    display: none;
    border: 1px solid black;
}

#modal #inputDiv {
    margin-bottom: 2%;
}


#submitBtn:hover {
    transform: scale(1.1);
    background-color: darkgray;
}

.buttonSection {
    width: 45%;
    display: inline-block;
    margin: 2% 1%;
}

#optionButton {
    font-size: 1.2rem;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#optionButton:hover {
    transform: scale(1.1);
    background-color: darkgray;
}

progress {
    margin-top: 15px;
    width: 40%;
}

.questionTitle {
    margin-top:7%;
}

