main {
    margin: 0 auto;
    width: 60vw;
}

#side1 {
    margin-right: 5%;
}

#side1, #side2 {
    height: 40vh;
    width: 45%;
    display: inline-block;
    margin-bottom: 5vh;
}

#side1ImageDiv, #side2ImageDiv {
    height: 90%;
    margin-bottom: 3%;
}

.characterHair, .characterSkin, .characterDress, .characterEyes {
    position: absolute;
    transform: scale(1.25);
    image-rendering: pixelated;
}

#characterDiv {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}