@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
    font-family: 'Urbanist', sans-serif; 
}

button {
    border-radius: 5px;
    background-color: #845EC2;
    color: white;
    padding: 5px;
}

button:hover {
    background-color: rgb(114, 62, 114);
    transform: scale(1.1);
}